img{
    position: relative;
    width: 2720px;
    height: 780px;
}
.Propiedades{
    width: 100px;
    height: 100px;
 }
.Propiedades2{
    width: 105px;
    height: 105px;
}
.Propiedades3{
    width: 100px;
    height: 100px;
}
.Propiedades4{
    width: 100px;
    height: 100px;
}
.Propiedades5{
    width: 100px;
    height: 100px;
}
.Propiedades6{
    width: 105px;
    height: 105px;
}
.PropiedadesU{
    width: 40px;
    height: 40px;
}
img.PropiedadesU{
    transition: width 3s, height 3s, transform 3s;
    -moz-transition: width 3s, height 3s, -moz-transform 3s;
    -webkit-transition: width 3s, height 3s, -webkit-transform 3s;
    -o-transition: width 3s, height 3s,-o-transform 3s;
}
img.PropiedadesU:hover{
    transform : scale(1.5);
    -moz-transform : scale(1.5);         /* Firefox */
    -webkit-transform : scale(1.5);   /* Chrome - Safari */
    -o-transform : scale(1.5);        /* Opera */
}
nav.navbar {
    background-color:#f2f2f2!important;
    height: 10%;
    position: fixed;
    z-index: 100;
    width: 100%;
}
ul.lateral{
    position: fixed;
    z-index: 100;
    width: 11.37%;
    top:10%;
    background-color: black!important;
    border-radius: 15px;
    height: 75.3%;
}
li.lateral{
    height: 30%;
}
a{
    color: black!important;
}
.ColorC{
    color: black!important;
}
.EnlaceAbajo{
    color: darkred!important;
}

input{
    color: black!important;
}
.Mover{
     position:absolute;
     left:18px;
     top:17px;
 }
p{
    font-family:"Verdana";
    font-size:15px;
    color:black;
}
.Letra{
    position:absolute;
    top:400px;
    font-family:"Verdana";
}
.CambiarC{
    color: red!important;
}
.Cambiar{
    font-size:15px;
    color:white;
}
div.fondo{
    width:88.6%;
    position: relative;
    left: 153px;
    top:65px;
    background-color: black!important;
    height: 500px;
}
img.fondo{
    border-radius: 35px;
    width: 50%;
    height: 500px;
}
button.esconder{
    border:0px;
    background-color: white!important;
}
button.esconder:hover{
    text-decoration: none;
}
button.esconder:link{
    text-decoration: none;
}
button.esconder:visited{
    text-decoration: none;
}
button.esconder:active{
    text-decoration: none;
}
button{
    border-bottom-color:black!important;
    border-top-color:black!important;
    border-left-color:black!important;
    border-right-color:black!important;
    background-color:#f2f2f2!important;
    color: black!important;
}
.abajo{
    position: relative;
    top:75px;
}
.abajoCom{
    position: relative;
    top:75px;
    left:75px;
}
form.centrar{
    position: absolute;
    left:355.5px;
    top:70px;
}
div.perfil{
    position: absolute;
    left:400px;
    top:0px;
    width: 385.5px;
}
button.centrar,div.centrar{
    position:relative;
    left: 190px;
}
form.centrar2{
    position: absolute;
    left:575px;
    top:70px;
}
input{
    width: 100%;
}
div.abajo2{
    position: relative;
    margin-left: 140px;
    top:970px;
}
div.abajo3{
    position: relative;
    top:390px;
}
div.abajo4{
    position: relative;
    margin-left: 200px;
    top:1225px;
}
div.abajo5{
    position: relative;
    margin-left: 140px;
    top:1350px;
}
div.abajo6{
    position: relative;
    margin-left: 140px;
    top:1250px;
}
div.abajo7{
    position: relative;
    margin-left: 140px;
    top:950px;
}
div.abajo8{
    position: relative;
    margin-left: 140px;
    top:1350px;
}
div.abajo9{
    position: relative;
    margin-left: 110px;
    top:555px;
}
div.abajoJ{
    position: relative;
    margin-left: 110px;
    top:1250px;
}
div.abajoPerfil{
    position: relative;
    top:75px;
    margin-left: 140px;
}
a.usuario{
    position: relative;
    left: 595px;
}
a.usuarioEditor{
    position: relative;
    left: 465px;
}
a.usuarioAdmin{
    position: relative;
    left: 465px;
}
a.usuario2{
    position: relative;
    left: 492px;
}
a.usuarioEditor2{
    position: relative;
    left: 362px;
}
a.usuarioAdmin2{
    position: relative;
    left: 362px;
}
a.usuarioCo{
    position: relative;
    left: 400px;
}
a.usuarioCoEditor{
    position: relative;
    left: 270px;
}
a.usuarioCoAdmin{
    position: relative;
    left: 270px;
}
img.usuario{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.usuarioBajar{
    position:relative;
    top:7.5px;
}
img.modificacionImgPerfil{
    position: relative;
    left: 150px;
    top:63.2px;
    width: 88.9%;
    height: 250px;
}
div.Jcentrar{
    position: relative;
    top:66px;
    left: 150px;
    width: 88.9%;
    height: auto;
    background-color:#f2f2f2!important;
}
img.minimizar{
    width: 30px;
    height: 30px;
}
strong.mover{
    margin-left: 200px;
}
strong.mover2{
    margin-left: 120px;
}
div.mover{
    position: relative;
    left: 100px;
    bottom:50px;
    width: 200px;
    height: 50px;
}
select.mover{
    width: 200px;height: 38px;
    margin-left: 100px;
}
div.mover2{
    position: relative;right: 100px;top:-12px;
}
div.disponible{
   position: relative;
    bottom: 15px;
}
img.verComen{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: -50px;
    top:-20px;
}
img.ver{
    width: 150px;
    height: 210px;
    margin-left: 50px;
    position: relative;
    top:10px;
}
img.ver2{
    width: 40px;
    height: 40px;
    margin-left: 175px;
    position: absolute;
}
img.ver3{
    width: 170px;
    height: 40px;
    margin-left: 40px;
    margin-top:190px;
    position: absolute;
}
ul.perfilHe{
    height: 50px;
}
ul.perfilHe2{
    height: 800px;
}
ul.perfilHe3{
    height: 1200px;
}
div.juegoCesta{
    width: 250px;
    height: 360px;
    position: relative;
    left:100px;
    bottom:1260px;
}
div.juegoCesta2{
    width: 250px;
    height: 360px;
    position: absolute;
    left:102px;
    bottom:886px;
}
div.juegoCesta3{
    width: 250px;
    height: 360px;
    position: absolute;
    left:359px;
    bottom:886px;
}
div.juegoCesta4{
    width: 250px;
    height: 360px;
    position: absolute;
    left:616px;
    bottom:886px;
}
div.juegoCesta5{
    width: 250px;
    height: 360px;
    position: absolute;
    left:871px;
    bottom:886px;
}
div.juegoCesta6{
    width: 250px;
    height: 360px;
    position: absolute;
    left:102px;
    bottom:512px;
}
div.juegoCesta7{
    width: 250px;
    height: 360px;
    position: absolute;
    left:359px;
    bottom:512px;
}
div.juegoCesta8{
    width: 250px;
    height: 360px;
    position: absolute;
    left:616px;
    bottom:512px;
}
div.juegoCesta9{
    width: 250px;
    height: 360px;
    position: absolute;
    left:871px;
    bottom:512px;
}
div.juegoComen{
    width: 250px;
    height: 360px;
    position: relative;
    margin-right: 50px;
    left:200px;
    top:100px;
}
div.juegoComen2{
    width: 250px;
    height: 360px;
    position: absolute;
    left:203px;
    top:370px;
}
div.juegoComen3{
    width: 250px;
    height: 360px;
    position: absolute;
    left:579px;
    top:370px;
}
div.juegoComen4{
    width: 250px;
    height: 360px;
    position: absolute;
    left:956px;
    top:370px;
}
div.juegoComen5{
    width: 250px;
    height: 360px;
    position: absolute;
    left:203px;
    top:645px;
}
div.juegoComen6{
    width: 250px;
    height: 360px;
    position: absolute;
    left:579px;
    top:645px;
}
div.juegoComen7{
    width: 250px;
    height: 360px;
    position: absolute;
    left:956px;
    top:645px;
}
div.juego{
    width: 250px;
    height: 360px;
    position: relative;
    left:200px;
    top:50px;
}
div.juego2{
     width: 250px;
     height: 360px;
     position: absolute;
     top:507px;
     right: -353px;
 }
div.juego3{
    width: 250px;
    height: 360px;
    position: absolute;
    top:507px;
    right: -609px;
}
div.juego4{
    width: 250px;
    height: 360px;
    position: absolute;
    top:507px;
    right: -865px;
}
div.juego5{
    width: 250px;
    height: 360px;
    position: absolute;
    top:507px;
    right: -1121px;
}
div.juego6{
    width: 250px;
    height: 360px;
    position: absolute;
    top:907px;
    right: -353px;
}
div.juego7{
    width: 250px;
    height: 360px;
    position: absolute;
    top:907px;
    right: -609px;
}
div.juego8{
    width: 250px;
    height: 360px;
    position: absolute;
    top:907px;
    right: -865px;
}
div.juego9{
    width: 250px;
    height: 360px;
    position: absolute;
    top:907px;
    right: -1121px;
}
nav.paginacionPerfil{
    position: relative;
    top:-50px;
    left:575px;
}
nav.paginacionPerfil2{
    position: relative;
    top:-50px;
    left:575px;
}
nav.paginacionPerfil3{
    position: relative;
    top:-50px;
    left:575px;
}
nav.paginacion{
     position: relative;
     top:1300px;
     left:660px;
}
nav.paginacion2{
    position: relative;
    top:900px;
    left:660px;
}
nav.paginacion3{
    position: relative;
    top:500px;
    left:660px;
}
td.game{
    position: absolute;
    left: 124px;
}
div.game{
    width: 1194px;
}
p.game{
    position: absolute;
    left:920px;
    top:800px;
}
a.carro{
    position: relative;
    top:110px;
    left: 935px;
}
a.trailer{
    position: relative;
    top:10px;
    margin-top: 200px;
}
div.ventanamodal{
    width: 1035px;
    height: 600px
}
div.ventanamodal2{
    position: absolute;
    width: 500px;
    margin-left: 325px;
    margin-top: 30px;
}
div.vmodal2{
    position: absolute;
    left:165px;
    top:30px;
}
video.video{
    width:1000px;
    position: absolute;
}
li.perfil{
    position: absolute;
    top:150px;
    left:475px;
}
li.perfil2{
    position: absolute;
    left: 575px;
    top:150px;
}
a.perfil3{
    position: absolute;
    top:25%;
    left:40%;
}
a.perfil4{
    position: absolute;
    left: 50%;
    top:25%;
}
a.perfil5{
    position: absolute;
    top:62%;
    left:40%;
}
a.perfil6{
    position: absolute;
    left: 50%;
    top:62%;
}
a.perfilJuo{
     position: absolute;
     top:22.8%;
     left:40%;
}
a.perfilJuo2{
    position: absolute;
    top:22.8%;
    left:50%;
}
a.perfilJuo3{
    position: absolute;
    top:13.9%;
    left:40%;
}
a.perfilJuo4{
    position: absolute;
    top:13.9%;
    left:50%;
}
a.perfilJuo5{
    position: absolute;
    top:10.1%;
    left:40%;
}
a.perfilJuo6{
    position: absolute;
    top:10.1%;
    left:50%;
}
div.info{
    position: relative;
    margin-left: 500px;
    top:0px;
}
a.mover{
    position: relative;
    margin-left: 20px;
}
div.div_jue{
    width:100px;
    position:absolute;
    left:25px;
}
div.div_jue2{
    width:100px;
    position:absolute;
    margin-top: 50px;
    left:25px;
}
div.perfilM{
    width: 200px;
    position: relative;
    top:20px;
    left:-30px;
}
a.perfilM{
    position: absolute;
    top:21.6%;
}
td.comentar1{
    position: absolute;
    left: 253px;
    bottom: 789px;
}
td.comentar2{
    position: absolute;
    left: 509px;
    bottom: 789px;
}
td.comentar3{
    position: absolute;
    left: 765px;
    bottom: 789px;
}
td.comentar4{
    position: absolute;
    left: 1021px;
    bottom: 789px;
}
td.comentar5{
    position: absolute;
    left: 252px;
    bottom: 414px;
}
td.comentar6{
    position: absolute;
    left: 509px;
    bottom: 414px;
}
td.comentar7{
    position: absolute;
    left: 765px;
    bottom: 414px;
}
td.comentar8{
    position: absolute;
    left: 1021px;
    bottom: 414px;
}
td.comentar9{
    position: absolute;
    left: 252px;
    bottom: 40px;
}
td.comentar10{
    position: absolute;
    left: 509px;
    bottom: 40px;
}
td.comentar11{
    position: absolute;
    left: 765px;
    bottom: 40px;
}
td.comentar12{
    position: absolute;
    left: 1021px;
    bottom: 40px;
}
td.comprar1{
    position: absolute;
    left: 355px;
    top: 419px;
}
td.comprar2{
    position: absolute;
    left: 610px;
    top: 419px;
}
td.comprar3{
    position: absolute;
    left: 868px;
    top: 419px;
}
td.comprar4{
    position: absolute;
    left: 1123px;
    top: 419px;
}
td.comprar5{
    position: absolute;
    left: 355px;
    top: 819px;
}
td.comprar6{
    position: absolute;
    left: 610px;
    top: 819px;
}
td.comprar7{
    position: absolute;
    left: 868px;
    top: 819px;
}
td.comprar8{
    position: absolute;
    left: 1123px;
    top: 819px;
}
td.comprar9{
    position: absolute;
    left: 355px;
    top: 1219px;
}
td.comprar10{
    position: absolute;
    left: 610px;
    top: 1219px;
}
td.comprar11{
    position: absolute;
    left: 868px;
    top: 1219px;
}
td.comprar12{
    position: absolute;
    left: 1123px;
    top: 1219px;
}